* {
  transition: 0.3s;
}

.cv-content {
  max-width: 90%;
  margin: 0 auto;
  padding: 5%;
}

@media (min-width:1600px ){
  body {
      max-width: 60%;
      margin: 0 auto;
  }
}

/* Greeting */
#photo {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

#photo img {
  border: 5px solid #CCCCCC;
}

.fullname {
  color: #08aeac;
}

#intro {
    padding-top: 15px;
    padding-bottom: 15px;
}

#role {
  font-weight: bold;
}


@media (max-width: 768px) {

}


.info a{
    display: inline-flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      flex-wrap: wrap;
}

#email a {
  /* color: #ffffff; */
  /* color: #08ae8a; */
  font-size: 1.5em;
}

#social {
  margin-top: 5px;
}

#social .fa {
  background-color: #222222;
  color: #ffffff;
  padding: 10px;
}

#social .fa:hover {
  background-color: #08aeac;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#mobile-nav {
    margin-top: 15px;
    padding: 5px;
}

#mobile-nav div:hover {
    background-color: #021533;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#mobile-nav div a {
    color: #ffffff;
}

.divider {
  height: 2px;
  width: 80%;
  margin: 25px auto;
  background-color: #08aeac;
}

/* skills tags */

.title-container {
  display: block;
  margin : 10px;
  text-transform: uppercase;
  border-bottom: 2px dotted black;
  font-size:medium;
  text-align: left;

}

.title-container i.fa{
  font-size: 30px;
}

i, .list-title {
  text-transform: uppercase;
}

/* tags */
.tag {
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 33px;
}

.tag1 {
  background-color: #08aeac;
}

.tag2 {
  background-color: #021533;
}

.tag3 {
  background-color: #d9212a;
}

.tag4 {
  background-color: #e78e18;
}

.tag5 {
  background-color: #8021d9;
}

.tag6 {
  background-color: #0258c9;
}

/* text colors */
.text-green {
  color: #08aeac;
}

.text-dark {
  color: #021533;
}

.text-red {
  color: #d9212a;
}

.text-orange {
  color: #e78e18;
}


.text-purple {
  color: #8021d9;
}

.text-blue {
  color: #0258c9;
}



/* Timeline */

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
  /* left: -1%; */
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
  margin-left: 30px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22e88c;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
  /* left: -2%; */
}

ul.ed-timeline > li:before {
  border: 3px solid #22c0e8;
}

