.input {
    padding: 2px 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    color: #888787;
    border: 1px solid #bdbdbd;
    font-size: 16px;
    letter-spacing: 1px;
    height: 50px !important;
}

.input:focus,
.input:valid {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #7635dc !important;
    outline-width: 0 !important;
}

.form-control-placeholder {
    position: relative;
    bottom: 2.5rem;
    padding: 12px 2px 0 2px;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 5px;
    transition: all 300ms;
    opacity: 0.5;
    left: 2rem;
}

.input:focus+.form-control-placeholder,
.input:valid+.form-control-placeholder {
    padding-right: 0.5rem;opacity: 0;
}

.annuaire{
    background: white;
}

.btn_submit{
    background-color: #7635dc;
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
}

.logo_formation img{
    height: 3.125rem;
    width: 3.125rem;
}

.recherche{
    border: none;
    border-bottom: 5px solid #7635dc;
}