@import url("inputControlModules.css");
.detail__formation__result {

    box-sizing: border-box;
    background-color: #7635dc;
    width: 25rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    margin-top: 20px;
    height: 20rem;
    border-radius: 5px;
}

.detail__formation__result h4{
    font-size: 1rem;
    font-weight: 300;
    color: #7635dc !important;
}
#heading1 button {
    background-color: transparent;
}
/* section 5 */
.detail__formation__programme__avis {
    padding-right: 20px;
}
.detail__formation__programme__avis .card {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.detail__formation__programme__avis__rated .rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    color: black;
}


.detail__formation__programme__avis__donnes {
    border-radius: 5px;
    background-color: rgba(226, 226, 226, 0.421);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.detail__formation__programme__avis__donnes .text-left {
    margin: 0;
    margin-bottom: 16px;
    padding-top: 16px;
    align-content: center;
}
#border_premier {
    color: #637381;
}
.pading_bas {
    padding-bottom: 8rem;
}
.new_module_prix {
    font-size: 1.1rem;
    letter-spacing: 0;
    color: #637381;
    font-weight: 500;
    text-align: end;
}
.detail__formation__result__avis span{
    font-size: 0.8rem;
}

/* liste modules */

.navigation_module .nav-link {
    color: #637381;
    padding: 5px;
    cursor: pointer;
    font-size: 0.900rem;
    transition: all 200ms;
    margin-right: 1rem;
    text-transform: uppercase;
    padding-top: 10px;
    border: none;
}

/*.nav-item.active .nav-link {
    border-bottom: 3px solid #7635dc !important;
    border: none;
    color: #7635dc;
} */

.nav-item .nav-link.active {
    border-bottom: 3px solid #7635dc !important;
    border: none;
    color: #7635dc;
}

.nav-tabs .nav-link:hover {
    background-color: rgb(245, 243, 243);

    border: none;
}
.nav-tabs .nav-item a{
    text-decoration: none;
    text-decoration-line: none;
}

.filtre_cours{
    background: rgba(255, 255, 255, 0.856);
    border-radius: 10px;
    height: 30rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.filtre_cours h5{
    font-size: 1rem;
}

.filtre_cours label{
    font-size: 0.900rem;
}

.ModalAffichage.show {
    opacity: 0;
}

.premier_wrap{
    height: 70px;
}

.acf-input-wrap span{
    font-size: 0.850rem;
    color:rgba(255, 0, 0, 0.844);
    position: relative;
    bottom: 2rem;
}

/* mises à jours */
.instruction{
    background: rgba(128, 128, 128, 0.193);
    color: black;
    border: none;
    border-radius: 5px;
    padding: .8rem 1rem;
    font-size: 0.850rem;
    margin-left: 2px;
}

/* navigation */

.navigation_detail{
    position: sticky;
    top: 4rem;
    background-color: white;
    z-index: 1;
    padding: .5rem;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    text-transform: uppercase;
}
.navigation_detail ul li a{
    color: #637381;
    text-decoration: none;
}

.navigation_detail ul li a:hover{
    color: black;
}
.competence_box{
    /* border: 1px solid grey; */
    position: sticky;
    top: 8.5rem;
}

.competence_box h5{
    background-color: #637381;
    color: white;
    text-transform: uppercase;
}

.suppression_competence{
    background-color: white;
    padding-bottom: .5rem;
    border-radius: 5px;
    transition: all .5s ease;
}

.suppression_competence:hover{
    color: red;
    transform: scale(1.05);
}

.suppression_competence .bx{
    font-size: 1.5rem;
    color: red;
    position: relative;
    top: .35rem;
}

.accordion-item{
    border: none;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #637381;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-body {
    padding: 1rem 1.25rem;
    border: 1px solid #63738175;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.prix_range{
    border: none;
    background-color: transparent;
    padding-left: 2rem;
}
.prix_range:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.slide_range{
    background-color: #7635dc !important;
}

.slide_hour,
.slider_day{
    width: 70px;
}

.outline_none:focus{
    box-shadow: none;
    outline: none;
}
.outline:not(:placeholder-shown){
    border: 1px solid rgb(38, 106, 243);
}

.prix_slide{
    width: 50px;
}

.gutter_none{
    --bs-gutter-x: 0rem !important;
}
.text_prix{
    color: black;
    font-weight: 500;
}

.icon_modif{
    position: relative;
    bottom: .35rem;
}

.width_large{
    width: 50rem !important;
    /* margin: 0 auto; */
}

.button_choix{
    border: 1px solid #2ebf91;
    background-color: #2ebf91;
    color: white !important;
    padding: .3rem 1rem;
    border-radius: 15px;
}

.button_choix_hors_ligne{
    border: 1px solid #ee0707;
    background-color: #ee0707;
    color: white !important;
    padding: .3rem 1rem;
    border-radius: 15px;
}

.mettre_en_ligne,
.mettre_hors_ligne{
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #2ebf91;
    width: 4rem;
    border-color: #2ebf91 !important;
}

.form-switch .form-check-input{
    width: 4rem;
    border-color: #ee0707;
}

.warning{
    color: #ee0707;
    font-size: 4rem;
}

.suppression_programme,
.ajouter_cours,
.modifier_cours{
    display: none;
    transition: all 1s ;
}

.accordionItemHeading:hover .suppression_programme,
.accordionItemHeading:hover .ajouter_cours,
.accordionItemHeading:hover .modifier_cours{
    display: block;
}

.cours_hover:hover .suppression{
    display: grid;
    place-content: center;
}

.avertissement{
    background-color: #ee0707 !important;
    color: white !important;
    text-align: center !important;
    justify-content: center !important;
    text-transform: uppercase !important;
}

.apres_ajout_prog{
    color: blue !important;
}

.ribbon {
    position: relative;
    margin-bottom: 30px;
    background-size: cover;
    color: white;
}
.ribbon1 {
    position: absolute;
    top: -6.1px;
    right: 10px;
}
.ribbon1:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: -8.5px;
    bottom: -10.05px;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    border-top: 10px solid #01b5af;
}
.ribbon1 span {
    position: relative;
    display: block;
    text-align: center;
    background: linear-gradient(60deg, #02AAB0,#00CDAC);
    font-size: 14px;
    line-height: 1;
    padding: 12px 8px 10px;
    border-top-right-radius: 8px;
    width: 90px;
    color: white;

}
.ribbon1 span:before, .ribbon1 span:after {
    position: absolute;
    content: "";
}
.ribbon1 span:before {
    height: 6px;
    width: 6px;
    left: -6px;
    top: 0;
    background: linear-gradient(60deg, #02AAB0,#00CDAC);
}
.ribbon1 span:after {
    height: 6px;
    width: 8px;
    left: -8px;
    top: 0;
    border-radius: 8px 8px 0 0;
    background: linear-gradient(60deg, #02AAB0,#00CDAC);
}

.ribbons {
    position: relative;
    margin-bottom: 30px;
    background-size: cover;
    /* color: white; */
    }
.ribbon2 {
    position: absolute;
    top: 15px;
    right: 10px;
}
.ribbon2:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: -8.5px;
    top: 30.05px;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    border-top: 10px solid #01b5af;
}
.ribbon2 span {
    position: relative;
    display: block;
    text-align: center;
    background: linear-gradient(60deg, #02AAB0,#00CDAC);
    font-size: 14px;
    line-height: 1;
    padding: 12px 8px 10px;
    border-top-right-radius: 8px;
    width: 90px;
    color: white;
    bottom: 20px;

}
.ribbon2 span:before, .ribbon2 span:after {
    position: absolute;
    content: "";
}
.ribbon2 span:before {
height: 6px;
width: 6px;
left: -6px;
top: 0px;
background: linear-gradient(60deg, #02AAB0,#00CDAC);

}
.ribbon2 span:after {
height: 6px;
width: 8px;
left: -8px;
top: 0;
border-radius: 8px 8px 0 0;
background: linear-gradient(60deg, #02AAB0,#00CDAC);
}

#popup{
    height : auto;
    background-color: rgba(255, 166, 0, 0.125);
    position: relative;
    width: 70%;
    margin: auto;
    border:2px solid orange;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: orange;
    cursor: default;
}

#popup a:hover{
    text-decoration: underline;
}

.aide_pogramme {
    position: relative;
    top: 25px;
    padding: 5px;
    cursor: pointer;
}

.aide_competence {
    position: relative;
    /* top: 15px; */
    padding: 5px 5px 5px 10.7px;
    color: white;
    cursor: pointer;
}

.text_aide {
    visibility: hidden;
    width: 350px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: grey;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-transform: none;
    text-align: start;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.aide_pogramme.active .text_aide{
    visibility: visible;
}
.aide_competence.active .text_aide{
    visibility: visible;
}

.module_detail_objet {
    /* background: white; */
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 5px;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.encre_icon{
    /* color: #28a7eb; */
    font-size: 2rem;
    position: relative;
    top: 8px;
    background-image: linear-gradient(60deg, #f206ee, #0765f3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.encre__icon{
    /* color: #28a7eb; */
    font-size: 2.5rem;
    position: relative;
    top: 8px;
    background-image: linear-gradient(60deg, #f206ee, #0765f3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.view_icon{
    font-size: 2.5rem;
    position: relative;
    bottom: 0px;
    background-image: linear-gradient(60deg, #f206ee, #0765f3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.actions_button_mod{
    visibility: hidden;
}

.liste__formation:hover .actions_button_mod{
    visibility: visible;
}

.form-check-input{
    cursor: pointer;
}

:root {
    --star-size: 20px;
    --star-color: #c8c7c77c;
    --icon-color: #c8c7c77c;
    --star-background: #fc0;
    --icon-background: #7635dc;
}

.Stars{
    --poucentage: calc(var(--note) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;

}
.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--poucentage), var(--star-color) var(--poucentage));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.table-rating-bar .rating-label {
    font-weight: bold;
}

.table-rating-bar .rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
}

.table-rating-bar .bar-container {
    width: 100%;
    background-color: #c8c7c752;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.table-rating-bar .bar-container .bar-5 {
    width: var(--progress_bar);
    height: 13px;
    background-color: #fc0;
    border-radius: 20px;
}

.table-rating-bar .bar-container .bar-4 {
    width: var(--progress_bar);
    height: 13px;
    background-color: #fc0;
    border-radius: 20px;
}

.table-rating-bar .bar-container .bar-3 {
    width: var(--progress_bar);
    height: 13px;
    background-color: #fc0;
    border-radius: 20px;
}

.table-rating-bar .bar-container .bar-2 {
    width: var(--progress_bar);
    height: 13px;
    background-color: #fc0;
    border-radius: 20px;
}

.table-rating-bar .bar-container .bar-1 {
    width: var(--progress_bar);
    height: 13px;
    background-color: #fc0;
    border-radius: 20px;
}

.table-rating-bar td {
    padding-bottom: 10px;
}

.Stars {
    color: #fc0;
}
.rating-star .checked {
    color: #fc0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating-star .checked:hover {
    color: #f9a825;
    cursor: pointer;
}

.text_minifier{
    font-size: .8rem;
}

.moins_avis{
    visibility: hidden;
}

.background_contrast{
    background-color: #a2a4a62c;
    padding-top: 5px;
    height: 31px;
    margin-left: 8px;
    /* border-radius: 5px; */
}

.background_contrast .bx{
    color: #7635dc;
    font-size: 1.3rem;
}

.bx_pourcentage{
    --note: calc(var(--pourcentage) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.bx_pourcentage::before{
    content: "\ef37";
    background: linear-gradient(90deg, var(--icon-background) var(--note), var(--icon-color) var(--note));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#marksChart,
#marksChart1{
    cursor: pointer;
}

.encre__icon_cacher{
    color: #5433FF;
    font-size: 2.5rem;
    position: relative;
    top: 8px;
}

.stars,
.level_cacher,
.encre__icon_cacher{
    display: none;
}

.stars .bx{
    color: var(--star-background);
}

.liste__formation {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1rem;
    transition: all 0.5s ease;
    border-radius: 5px;
}
.liste__formation__item:hover .liste__formation {
    transform: scale(1.5s) !important;
}
.liste__formation .liste__formation__item .acf-nom-module{
    color: #7635dc;
}
.liste__formation .liste__formation__item .acf-description{
    font-size: 0.85rem;
}

.lien_clique{
    color: #4222c3;
}

.lien_clique:hover{
    color: red;
}

.detail_inter {
    background-color: rgba(128, 128, 128, 0.128);
    border-radius: 5px;
}

.liste__formation__item3 .bx {
    color: #7635dc;
}
.detail_inter .date {
    color: #7635dc;
}