@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300&display=swap");
:root {
    --header-height: 4rem;
    --nav-width: 80px;
    --first-color: white;
    --first-color-light: rgba(238, 238, 238, 0.863);
    --second-color: #b4b4b4dc;
    --body-font-color: black;
    --body-font: "Roboto", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --color-parent: #a55e8e;
    --color-child: #801d68;
    --color-child1: #542356;
    --button-color: #7635dc;
    --font-sidebar-color: #637381;
    --font-size-sidebar: 13px;
}
/* @media screen and (min-width: 960px) { */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    color: var(--body-font-color);
    overflow: auto;
}

.content_body {
    background: white;
    /* min-height: 100vh; */
    padding-right: 0;
}

a {
    text-decoration: none;
    color: inherit;
    pointer-events: auto;
    cursor: pointer;
}

a:focus,
.logo_content .logo .logo_name a:hover {
    text-decoration: none;
    color: inherit;
    pointer-events: auto;
    cursor: pointer;
    text-decoration-line: underline;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--second-color);
}
.bg-light{
    background: white !important;
}

.sidebar {
    position: fixed;
    top: 4rem;
    left: 0;
    /* height: calc(100% - 8rem); */
    height: 100%;
    background: var(--first-color);
    padding: 6px 14px 50px 6px;
    transition: all 0.5s ease;
    align-items: center;
    color: var(--font-sidebar-color);
    z-index: 999;
    overflow-y: auto;
}

.padding_logo{
    padding-left: 2rem;
}

.sidebar.active {
    width: 100px;
    overflow-y: auto;

}

.sidebar .logo_content .logo {
    color: var(--font-sidebar-color);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    margin-top: 1rem;
}

.sidebar.active .logo_content .logo {
    opacity: 0;
    pointer-events: none;
}

.logo_content .logo i {
    font-size: 20px;
}

.logo_content .logo img {
    width: 60px;
    height: 60px;
}

.logo_content .logo .logo_name {
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    color: #7635dc;
}

.menu_hamburger{
    display: grid;
    place-content: center;
}

.menu_logo{
    position: relative;
    bottom: .5rem;
    width: 33px;
    height: 33px;
}

#btn_menu {
    color: var(--body-font-color);
    font-size: 1.7rem;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transition: 0;
    padding: .1rem .5rem .2rem .5rem;
    position: relative;
    bottom: .6rem;
    transition: all .5s ease;
    /* margin-left: 0.3rem; */
    /* display: inline-block; */
}

#btn_menu:hover{
    background-color: rgba(237, 235, 235, 0.604);
    border: none;
    border-radius: 30px;
}

#btn_menu:focus{
    transform: scale(0.9);
}

/* #btn_menu {
    left: 90%;
    transition: all 0.5s ease;
} */

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    align-items: center;
    margin-top: 0.3rem;
}

.sidebar ul li a {
    color: var(--font-sidebar-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
    padding-left: 0.8rem;
    font-size: .8rem;
}

.sidebar ul li a:hover{
    /* color: var(--font-sidebar-color); */
    color: black;
    background: rgba(192, 192, 192, 0.171);
}

.sidebar.active ul li{
    margin-bottom: 2rem;
    text-align: center;
}

.sidebar.active ul li a{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 24px;
    /* opacity: 0; */
}

.sidebar .nav_list {
    align-items: center;
}

.sidebar .links_name {
    opacity: 1;
    pointer-events: none;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
    font-size: .55rem;
    position: relative;
    bottom: 1rem;
    height: 25px;
}

.new_session{
    display: grid;
    place-content: center;
}

.nouvelle_session{
    transition: all .5s ease;
}

.nouvelle_session:hover{
    background-color: #63738156;
    color: white;
    padding: .5rem;
    border: none;
    border-radius: 15px;
    transform: scale(1);
}

.home_content {
    position: absolute;
    height: 100%;
    width: calc(100% - 100px);
    /* width: 100%; */
    left: 100px;
    right: 400px;
    transition: all 0.5s ease;
}

.home_content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}

.user_icon{
    font-size: 2.5rem;
    position: relative;
    bottom: .3rem;
    transition: all .5s ease;
}
.user_icon:hover{
    transform: scale(1.3);
}

/* .sidebar.active ~ .home_content {
    width: calc(100% - 100px);
    left: 100px;
} */

/* .sidebar.active ~ .home_content .header {
    width: calc(100% - 240px);
    left: 240px;
} */

/* .apprendre.afficher ~ .home_content {
    width: calc(100% - 400px);
    right: 400px;
} */

/* apprendre */
.apprendre{
    position: fixed;
    top: 3rem;
    right: -50px;
    height: 100%;
    width: 0px;
    background: white;
    padding: 6px 14px;
    transition: all 0.5s ease;
    align-items: center;
    color: var(--font-sidebar-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-left: 1px solid grey;
    float: right;
}

.apprendre.afficher {
    width: 400px;
    overflow-y: auto;
    right: 0px;
}

.apprendre p{
    font-size: 1rem;
}
.apprendre .bx{
    font-size: 1.5rem;
}

.apprendre_btn button{
    display: grid;
}
.filtrer{
    position: fixed;
    top: 3rem;
    right: -50px;
    height: 100%;
    width: 0px;
    background: white;
    padding: 6px 14px;
    transition: all 0.5s ease;
    align-items: center;
    color: var(--font-sidebar-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-left: 1px solid grey;
    float: right;
}

.filtrer.afficher {
    width: 400px;
    overflow-y: auto;
    right: 0px;
}

.filtrer p{
    font-size: 1rem;
}
.filtrer .bx{
    font-size: 1.5rem;
}

.filtrer_btn button{
    display: grid;
}


/*---------------------
    Header
-----------------------*/
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: var(--first-color);
    /* background-color: rgba(206, 205, 205, 0.782); */
    z-index: 1000;
    transition: 0.5s;
    padding: 0.5rem;
    margin-left: 0.1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header_toggle {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    align-items: center;
}

.header_toggle .btn_search_input:focus {
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #a55e8e;
}

.header_toggle .btn_search_icon {
    background: none;
    border: none;
    color: grey;
}

.header_toggle .btn_search_icon:hover {
    background: none;
    transition: 0.5s;
    color: black;
}

.header-centre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.header-centre .bord {
    font-size: 35px;
}

.header-centre .bord:hover {
    color: grey;
}

/* icon notifications */

.deconnexion_text {
    color: #333;
    background-color: white;
    border: 1px solid rgba(202, 202, 202, 0.618);
    margin-top: 15px;
}

.deconnexion_text:hover {
    color: red;
    border: 1px solid rgba(242, 7, 7, 0.618);
}
.text_resp a:hover {
    color: red;
}

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    10% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* icon notifications */

/* bulle  profile */
.header-right .header_img {
    width: 25%;
    overflow: hidden;
    cursor: pointer;
    height: auto;
    text-align: center;
    position: relative;
    bottom: .5rem;
    margin: 0 auto;
}

.header-right .header_img .bx {
    color: #637381 !important;
}


.header-right .header_img p {
    margin-top: 20px;
    color: #542356;
}

.header-right .header_img p:hover {
    color: red;
}

.header-right .pdp_profil {
    display: none;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 40px;
    right: 15px;
    border-radius: 5px 0px 5px 5px;
    background-color: transparent;
}
.header-right .pdp_profil .container {
    padding: 0;
}

.header-right .pdp_profil_card .card {
    width: 400px !important;
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: white;
    position: relative;
    margin: 0;
    right: 1%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.header-right .pdp_profil_card .card .user {
    position: relative;
}

#nom_etp{
    text-align: center;
    margin-top: 10px;
    font-size: 1.4rem;
}

#liste_role li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    color: #7635dc;
}

.card_body_text{
    font-size: 0.8rem;
    justify-content: center;
}

.filter{
    position: relative;
    bottom: .5rem;
    float: right;
}

.header-right .pdp_profil_card .card .user .profile {
    position: absolute;
    top: -50px;
    left: 35%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.header-right .pdp_profil_card .card .user .profile img {
    height: 80px;
    width: 80px;
    margin-top: 2px;
}

.header-right .pdp_profil_card .card .profil_btn {
    width: 50%;
    border-radius: 25px;
    height: 35px;
    background-color: white;
    border: 1px solid rgb(157, 157, 157);
    color: #333;
}

.header-right .pdp_profil_card .card .profil_btn:hover {
    background-color: rgba(202, 202, 202, 0.371);
}


.header-right .header_img {
    width: auto;
    overflow: hidden;
    cursor: pointer;
    height: auto;
    position: relative;
    bottom: 0.5rem;
    right: 2rem;
}

.header-right .header_img .bx {
    color: #637381 !important;
}

.header-right .header_img .header_img_name {
    color: #542356;
    font-size: 0.85rem;
    margin-top: 0;
    position: relative;
    top: 1.3rem;
}

.header-right .header_img p:hover {
    color: red;
}



/* entreprise cfp */


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* btn design */

.btn_enregistrer {
    padding: 5px;
    margin-top: 1rem;
    background-color: #7635dc;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    transition: all 200ms;
    color: white;
    width: 13rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btn_enregistrer:hover {
    /* background-color: rgba(92, 92, 241, 0.61); */
    background-color: #7535dc21;
    transform: scale(1.05);
    color: #7635dc;
    text-decoration-line: underline;
}

.btn_enregistrer a{
    color: #7635dc;
}

.btn_enregistrer a:hover{
    color: white;
    cursor: pointer;
}
.btn_enregistrer a:focus{
    color: white;
    text-decoration: none;
}

.btn_annuler {
    padding: 5px;
    margin-top: 1rem;
    background-color: rgba(197, 197, 197, 0.192);
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    transition: all 200ms;
    color: red;
    width: 13rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.btn_annuler:hover {
    /* background-color: rgba(92, 92, 241, 0.61); */
    background-color: red;
    transform: scale(1.05);
    color: white;
}

.btn_annuler a{
    text-decoration: none;
    text-decoration-line: none;
}

.btn_annuler a:hover{
    color: white;
}

.btn_racourcis{
    transition: all .5s ease;
}

.btn_racourcis .bx{
    text-align: center;
    display: block;
    position: relative;
    bottom: .6rem;
    font-size: 1rem;
}

.btn_racourcis .text_racourcis{
    font-size: .8rem;
    position: relative;
    bottom: .5rem;
}

.btn_racourcis:hover {
    color: #637381;
    text-decoration: none;
    /* border-bottom: 2px solid black; */
    transform: scale(1.2);
}

.text_header{
    font-size: 1rem;
    color: #637381;
    position: relative;
    bottom: .5rem;
    text-transform: capitalize;
}

.btn_creer{
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: .2rem 1rem;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn_creer a{
    font-size: .8rem;
    position: relative;
    bottom: .2rem;
}

.btn_creer:hover{
    background: #6373812a;
    color: blue;
}

.btn_creer:focus{
    color: blue;
    text-decoration: none;
}

.icon_creer{
    background-image: linear-gradient(60deg, #f206ee, #0765f3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    position: relative;
    top: .4rem;
    margin-right: .3rem;
}

.apprendCreer{
    position: relative;
    bottom: .5rem;
}

.icon_plus{
    color: #7635dc;
}

.text_apprendre{
    position: relative;
    top: .2rem;
    font-size: .8rem;
    animation-name: completer_programme;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 10;
}
@keyframes completer_programme{
    0%{
        opacity: 0;
    }
    25%{
        transition: all .5s ease;
        transform: scale(1.1);
    }
    50%{
        transition: all .5s ease;
        transform: scale(1.2);
    }
    75%{
        opacity: 1;
    }
}

@keyframes completer_competence{
    0%{
        opacity: 0;
    }
    25%{
        transition: all .5s ease;
        transform: scale(1.1);
    }
    50%{
        transition: all .5s ease;
        transform: scale(1.2);
    }
    75%{
        opacity: 1;
    }
}

.btn_completer{
    color: white;
    border: none;
    padding: 5px 15px;
    background-color: #7635dc;
    border-radius: 5px;
    border: none;
    font-size: 0.900rem;
    transition: all 200ms ease;
    margin-right: 1rem;
    animation-name: completer_programme;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 10;
}

.btn_completer:hover{
    color: #7635dc;
    transform: scale(1.1);
    text-decoration-line: underline;
    background-color: #7535dc25;
}

.btn_competence {
    color: #7635dc;
    border: none;
    padding: 5px 8px;
    background-color: #7535dc25;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.900rem;
    transition: all 200ms ease;
    margin-right: 1rem;
    animation-name: completer_competence;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 5;
}

.btn_competence:hover {
    background-color: #7635dc;
    color: white;
    transform: scale(1.1);
    text-decoration-line: underline;
}

.btn_next {
    color: #7635dc;
    border: none;
    padding: 5px 8px;
    background-color: #7535dc25;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.900rem;
    transition: all 200ms ease;
    margin-right: 1rem;
}

.btn_next:hover {
    background-color: #7635dc;
    color: white;
    transform: scale(1.1);
}

.btn_next a{
    text-decoration: none;
    text-decoration-line: none;
}

.btn_next a:hover{
    color: white;
}

/* search form header */
.searchButtonMod {
    border: none;
    background-color: #7535dc3f;
    border-radius: 5px;
    color: #7635dc;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: all .5s ease;
    margin-top: 1px;
    position: relative;
    top: 2px;
}

.searchInputMod {
    border: none;
    background: rgba(128, 128, 128, 0.281);
    border-radius: 5px;
    height: 34px;
    padding-left: 1rem;
    outline-color: #7635dc;
    width: 80%;
}

.searchInputMod:focus{
    background-color: white;
}

.searchBoxMod:hover > .searchButtonMod {
    background: rgba(128, 128, 128, 0.247);
    color: #7635dc;
    border-radius: 15px;
    transform: scale(1.1);
    font-size: 17px;
}

.searchInputMod::placeholder {
    color: #7635dc;
font-size: 0.850rem;
}

.searchBoxMod{
    position: relative;
    bottom: 0.7rem;
    left: 1rem;
}
/* search form header */

.btn_next {
    color: #7635dc;
    border: none;
    padding: 5px 8px;
    background-color: #7535dc25;
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.900rem;
    transition: all 200ms;
    margin-right: 1rem;
}

.btn_next:hover {
    background-color: #7635dc;
    color: white;
    transform: scale(1.1);
}

.btn_next:focus {
    background-color: #7635dc !important;
    color: white;
    transform: scale(1.1);
}

.btn_next a:hover{
    color: white;
    text-decoration: none;
    text-decoration-line: none;
}

.btn_next a{
    color: #7635dc;
}

.btn_next a:hover{
    color: white;
    cursor: pointer;
}
.btn_next a:focus{
    color: white;
    text-decoration: none;
}

.btn_previous {
    color: #7635dc;
    border: none;
    padding: 5px 8px;
    background-color: rgba(128, 128, 128, 0.288);
    border-radius: 5px;
    border-width: 0;
    cursor: pointer;
    font-size: 0.900rem;
    transition: all 200ms;
    margin-right: 1rem;
}

.btn_previous:hover {
    background-color: #7535dc2d;
    color: #7635dc;
    transform: scale(1.1);
}

.btn_previous a{
    text-decoration: none;
    text-decoration-line: none;
}

.btn_previous a:hover{
    color: #7635dc;
}

/* btn design */

/* table design */

.titre_table{
    font-size: 0.850rem;
    font-weight: 500;
    color: #637381;
}

.content_table{
    font-size: 0.850rem;
    color: #637381;
}
/* table design */



/*---------------------
    fin   Header
-----------------------*/

/*---------------------
    debut footer
-----------------------*/

.footer_all {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    color: var(--color-child1);
    padding: 5px;
    font-size: 10px;
    z-index: 1;
}
.footer_all a p:hover {
    text-decoration-line: underline;
    justify-content: center;
}

.footer_list {
    border-right: 1px solid var(--color-child1);
    padding-right: 20px;
    padding-top: 5px;
    height: 30px;
}
.footer_list_end {
    padding-right: 20px;
    padding-top: 5px;
    height: 30px;
    font-size: 10px;
}




/* } */
/*---------------------
    fin footer
-----------------------*/

.detail__formation__result {

    box-sizing: border-box;
    background-color: #7635dc;
    width: 25rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
    margin-top: 20px;
    height: 20rem;
    border-radius: 5px;
}

.detail__formation__result h4{
    font-size: 1rem;
    font-weight: 300;
    color: #7635dc !important;
}

.detail__formation__result h4 span{
    font-size: 1rem;
    font-weight: 500;
    color: #7635dc !important;
}

.detail__formation__result__avis .bx{
    color: #7635dc;
}

.detail__prix__head {
    color: white;
    background-color: red;
    text-align: center;
}

.btn_competence{
    background: #7635dc;
    color: #f1f1f1;
    transition: all 0.5s ease;
}

.btn_competence:hover{
    color: #7635dc;
    transform: scale(1.1);
    background: #7535dc28;
}
/*btn admin créer*/

.active_role .bx{
    color: green;
    font-size: 10px;
    position: relative;
}
