*{
    font-family: 'Open Sans';
}
body{
    margin-top: 50px;
    padding: 0;
}
.navbar_accueil{
    background-color: whitesmoke;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px black;
}
li{
    list-style: none;
    margin : 0 6px;
}
h2{
    color:rgb(130,33,100);
    text-align: center;
}
h4{
    text-align: center;
}
p{
    text-align:center;
}
.fa{
    color: rgb(228, 195, 206);
}
.main_container{
    width: 100%;
    height: 600px;
}
.footer_container{
    background-color: whitesmoke;
    color:rgb(130,33,100);
    font-weight: bold;
    height: 50px;
    font-size: 10px;
    margin: 0;
}
.btn_blue{
    background-color: rgb(15,126,145);
    color: whitesmoke;
    font-weight: bold;
    margin: 0 auto;
}
.btn_blue:hover{
    color: whitesmoke;
    background-color: rgb(101, 217, 221);
}
.btn_blue:focus{
    outline: none;
    box-shadow: none;
}
.bouton_violet{
    background-color: rgb(130,33,100);
    color: white;
}
.bouton_violet:hover{
    color: white; 
    padding: 10px 14px;
}
.bouton_violet:focus{
    outline: none;
      box-shadow: none;
}
.btn_bordure_violet{
    border: 2px solid rgb(130,33,100);
}
.btn_bordure_violet:hover{
    padding: 10px 14px;
}
.btn_bordure_violet:focus{
    outline: none;
    box-shadow: none;
}
.bordure{
    padding:0 4px;
    border-right: 1px solid rgb(58, 56, 56);
}
.section_1{
    background-color: rgb(255,249,224);
}
.section_2{
    background-color: white;
}
.section_3{
    background-color: rgb(255,249,224);
}
.conteneur{
    width: 60%;
    margin: 0 auto;
}
.pied{
    width: auto;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: whitesmoke;
}

/* Style the tab */
.tab {
    overflow: hidden;
  }
  
  /* Style the buttons that are used to open the tab content */
  /* .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  } */
  
  /* Change background color of buttons on hover */
  /* .tab button:hover {
    background-color: #ddd;
  } */
  
  /* Create an active/current tablink class */
  /* .tab button.active {
    background-color: #ccc;
  }
   */
  /* Style the tab content */
  /* .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  } */
  .tabcontent{
      display: none;
  }
  .tabcontent1{
    display: block;
  }
  .active{
      background-color: rgb(130,33,100);
      color: whitesmoke;
  }
  .active:hover{
      color: white;
  }
  .active:focus{
      outline: none;
      box-shadow: none;
  }
  .display_none{
      display: none;
  }
  .display_block{
      display: block;
  }